.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.tweetsPerHour{
    color: darkred;
    background: lightgoldenrodyellow;
    border: solid darkgreen 4px;
}

.numberOfUsersTalking{
    color: darkblue;
    background: lightgray;
    border: solid rgb(18, 0, 100) 4px;
    
}